/* App-wide styling */
body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

.deactive {
  display: none;
}

#logo {
  color: green;
}

.project-box {
  border: 1px solid white;
  width: 50%;
}

.project-box:hover {
  box-shadow: -10px 10px 5px #343b4c;
}

.project-box>* {
  margin: 2% 2% 2% 2%;
}

.pimgs {
  width: 95%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fixedElement {
  background-color: #0f1116;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#links {
  width: 400px;
  text-align: left;
  font-size: x-large;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#links a {
  height: fit-content;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin: 10px 0px;
  border: white 1px solid;
  border-radius: 5px;
  padding: 10px;
}

#links a:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

/* #header { */
/* max-width: 1200px; */
/* } */